
.aqi-section{
    background: url(about.jpg) no-repeat right;
    background-size: 60%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 80px 0;
}

.aqi-inner-container{
    width: 70%;
    float: left;
    background-color: #fdfdfd;
    padding: 150px;
}

.aqi-inner-container h1{
    color:#02A899;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    white-space: nowrap;
}
.aqi-inner-container h2{
    color: #363434;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    white-space: nowrap;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    
}


@media screen and (max-width:1200px){
    .aqi-inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .aqi-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .aqi-inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .aqi-section{
        padding: 0;
    }
    .aqi-inner-container{
        padding: 60px;
    }
}